/** EVENT OVERVIEW **/

@mixin media-min-width($width) {
    @media (min-width: $width) {
        @content;
    }
}

@mixin display-flex() {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.event-banner {
    height: 27vh;
    background: url(/images/pexels-pixabay-209620.jpg) center/cover no-repeat border-box;
    margin-top: 3rem;
    margin-bottom: 2.5rem;

    @include media-min-width(1200px) {
        height: 57vh;
        margin-top: 4rem;
        margin-bottom: 0.51rem;
    }
}

.event-banner__title {
    position: absolute;
    top: 5%;
    left: 5%;
    font-family: 'Anton', sans-serif;
    font-size: 1.5rem;
    font-weight: 900;
    color: black;
    text-shadow:
        2.5px 0 5px white,
        0 2.5px 5px white,
        -2.5px 0 5px white,
        0 -2.5px 5px white;

    @include media-min-width(1200px) {
        top: 15%;
        left: 2%;
        font-size: 4rem;
        color: black;
        text-shadow:
            2px 0 10px white,
            0 2px 10px white,
            -2px 0 10px white,
            0 -2px 10px white;
    }

    @include media-min-width(1600px) {
        font-size: 6rem;
    }
}

.photo-credit {
    top: 30%;
    right: 3%;
    font-size: 0.5rem;
    position: absolute;
    background-color: rgba($color: #000000, $alpha: 0.7);
    padding: 0.1rem;

    @include media-min-width(768px) {
        top: 28%;
        right: 5%;
    }

    @include media-min-width(1200px) {
        top: 59%;
        right: 5%;
        font-size: 0.8rem;
        padding: 0.3rem;
    }
}

.photo-credit__anchor {
    text-decoration: none;
    color: white;
}

/** EVENT DETAILS **/

.events-section {

    @include media-min-width(1200px) {
        margin: 3rem;
    }
}

.event-details-container {
    padding: 0.5rem 2rem;
    background-color: white;
    display: none;

    @include media-min-width(1200px) {
        margin: 0;
        display: block;
        box-shadow: 0.5px var(--dusky-black);
        padding: 1rem;
    }

}

.event-details__title {
    font-size: 1.3rem;

    @include media-min-width(1200px) {
        font-size: 1.5rem;
    }
}

.event-details__activity {
    font-size: 0.9rem;

    @include media-min-width(1200px) {
        font-size: 1.1rem;
    }
}

.event-details__info-para {
    font-size: 0.8rem;
    line-height: 1.5;

    @include media-min-width(1200px) {
        font-size: 0.95rem;
    }
}

#event-details__hotel-review,
#event-details__parking-info,
#event-details__pub-golf__pubs {
    display: none;
}

.event-details__day-title {
    @include media-min-width(1200px) {
        font-size: 3.5rem;
    }
}

.event-details__list {
    padding-left: 0.75rem;
}

.event-details__list-item {
    list-style-type: none;
    font-size: 0.82rem;

    @include media-min-width(1200px) {
        font-size: 1rem;
        font-weight: 400;
    }
}

.day-container,
.day-container-mobile {
    background-color: var(--hot-panther);
    margin: 0.6rem 0.5rem 1.1rem 0.5rem;
    padding: 0.5rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 900;
    border: 2px solid black;
}

.day-container-mobile__a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.day-container {
    display: none;

    @include media-min-width(1200px) {
        display: block;
    }
}

.day-container-mobile {
    @include media-min-width(1200px) {
        display: none;
    }
}

@media (min-width: 1200px) {
    .day-container:hover {
        width: 97%;
        animation: event-day-rotate 1s 1 ease-out forwards;
        cursor: pointer;
    }

    .events__grid-parent {
        display: grid;
        grid-column-gap: 2.5rem;
        grid-row-gap: 6rem;
        grid-template-columns: 1.5fr 1fr 1.5fr;

        grid-template-areas: "title-fri overview-fri overview-fri"
            "overview-sat-day overview-sat-day title-sat-day"
            "title-sat-night overview-sat-night overview-sat-night"
            "overview-sun overview-sun title-sun";
    }

    .day-container {
        @include display-flex();
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .day-container__fri {
        grid-area: title-fri;
    }

    .day-overview__fri {
        grid-area: overview-fri;
    }

    .day-container__sat-day {
        grid-area: title-sat-day;
    }

    .day-overview__sat-day {
        grid-area: overview-sat-day;
    }

    .day-container__sat-night {
        grid-area: title-sat-night;
    }

    .day-overview__sat-night {
        grid-area: overview-sat-night;
    }

    .day-container__sun {
        grid-area: title-sun;
    }

    .day-overview__sun {
        grid-area: overview-sun;
    }

    .day-container__fri,
    .day-container__sat-night {
        box-shadow: 0 0 1px var(--off-white);
    }

    .day-container__sat-day,
    .day-container__sun {
        box-shadow: 0 0 1px var(--off-white);
    }

    .event-details__pubgolf-list__item {
        font-size: 0.85rem;
        line-height: 1.5;
    }
}